<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>api</td><td>APITest.verifyAPIrequest()[pri:0, instance:com.api.Test.APITest@5c30a9b0]<br/></td></tr>
<tr><td>e2e</td><td>APITest.verifyAPIrequest()[pri:0, instance:com.api.Test.APITest@5c30a9b0]<br/></td></tr>
<tr><td>sanity</td><td>APITest.verifyAPIrequest()[pri:0, instance:com.api.Test.APITest@5c30a9b0]<br/></td></tr>
<tr><td>smoke</td><td>APITest.verifyAPIrequest()[pri:0, instance:com.api.Test.APITest@5c30a9b0]<br/></td></tr>
</table>
